/* src/App.css */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0 !important;
  background-color: #ff5858;
  color: #333;
  overflow-x: hidden !important;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

