/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Playfair+Display:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Roboto', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid var(--accent);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transition: all 0.1s ease;
  z-index: 9999;
}

.cursor-dot {
  width: 4px;
  height: 4px;
  background-color: var(--accent);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transition: all 0.15s ease-out;
  z-index: 9999;
}

.back-button {
  background-color: transparent;
  border: none;
  position: absolute;
  cursor: pointer;
  left: 12px;
  background-color: rgba(225, 110, 27, 0.3);
  border-radius: 50%;
  top: 18px;
  padding: 12px;

  &:hover {
    transform: scale(1.02);
  }
}

input {
  width: calc(100% - 25px) !important;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  &:hover {
    filter: brightness(0.94);
  }
}

.loginFormBtn {
  width: 100%;
  padding: 0.75rem;
  color: white;
  border: none;
  margin-bottom: 16px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 50vh;
  background-color: var(--accent-light);
  width: 100%;
  z-index: 999;
}

@media screen and (width <= 800px) {
  body {
    background-color: red;
  }
  #log-out {
    display: none !important;
  }
}